/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/
.apriname {
    color: white;
}
.example {
    color: #F80206;
}
/*main.html*/
#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}


Resources


#ddd.h1{
    color:white;
    margin:auto;
}

body {
    margin-top: 0;
}
/*ヘッダー部分*/
.hedder{
    background-color: blue;
    margin-top:0;
    height:70px;
}
.titleName {
    font-size: 45px;
    text-align: center;
    padding-top:13px;
}
/*formのページ*/
.overview {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.login_or_register {
    display: block;
    margin:30px auto;
    padding:20px;
    font-size: 20px;
}

/*ログイン・新規登録ページ*/
.user_name {
    font-size: 30px;
    margin-top: 50px;
    margin-left:400px;
}

.password {
    font-size: 30px;
    margin-top: 50px;
    margin-left:400px;
}

.name_input {
	width: 300px;
	margin-top:30px;
	margin-left: 400px;
}

.password_input {
	width: 300px;
	margin-top:30px;
	margin-left: 400px;
}

.login_botton {
	display: inline-block;
	margin-top:30px;
	margin-left:400px;
}

.newlogin_botton {
	display: inline-block;
}

.formBack_botton {
	display: block;
	margin-top: 20px;
	margin-left: 400px;
}

/*main画面*/
.slack_setting {
	width:90px;
	display: block;
	margin-left: 80%;
	margin-top: 10px;
}

.move_month {
	width:130px;
    margin:auto;
}

.before_month {
	display: inline-block;
	text-align: center;
}

.next_month {
	margin:auto;
}

.calender_area {
	width:1000px;
	margin: auto;
}

.calender {
	margin:auto;
}

.table {
	margin:auto;
	margin-top: 10px;
	width:400px;
	height: 400px;
}

/*slackSetting*/
.token {
	font-size: 30px;
	margin-top:30px;
	margin-left:400px;
}

.token_setting {
	font-size: 20px;
	margin-top:5px;
	margin-left:400px;
}

.channel_name {
	font-size: 30px;
	margin-top:10px;
	margin-left:400px;
}

.channel_setting {
	font-size: 20px;
	margin-top:5px;
	margin-left:400px;
}

.slack_change{
	display: block;
	margin-top: 10px;
	margin-left: 400px;
}

.slack_back {
	display: block;
	margin-top: 10px;
	margin-left: 400px;
}

/*slack設定編集ページ*/
.token_input_name {
	font-size:30px;
	margin-top: 10px;
	margin-left:400px;
}

.token_input {
	display: block;
	font-size:30px;
	margin-top: 10px;
	margin-left:400px;
}

/*予定ページ*/
.date {
	font-size: 40px;
	margin-top:30px;
	margin-left: 300px;
}
.box{
	width: 500px;
	height: 150px;
	border: solid 1px #000;
	margin-top: 10px;
	margin-left: 300px;
}

.schedule_day {
	font-size: 25px;
	margin-top:10px;
	margin-left: 300px;
}

.schedule_list {
	font-size: 25px;
	margin-top: 10px;
	margin-left: 300px;
	color:blue;
}

#editButton {
	font-size: 15px;
	margin-top: 10px;
	margin-left: 300px;
}

.add_schedule {
	font-size: 25px;
	margin-top: 10px;
	margin-left: 300px;
	color:blue;
}

.content_input {
	margin-top:10px;
	margin-left: 300px;
}

.time_input {
	margin-top:10px;
	margin-left: 300px;
}

.schedule_time {
	font-size: 25px;
	margin-top: 10px;
	margin-left: 300px;
}

.notice_name {
	font-size: 25px;
	margin-top: 10px;
	margin-left: 300px;
}

.beforeTime_input {
	margin-top: 10px;
	margin-left: 300px;
}

.schedule_submit {
	margin-top: 10px;
	margin-left: 300px;
}

.registrasion_back {
	margin-top: 10px;
	margin-left: 300px;
}

/*予定編集ページ*/
.edit_schedule_day_name {
	font-size:30px;
	margin-top:10px;
	margin-left:400px;
}

.edit_schedule_day {
	font-size:30px;
	margin-top:10px;
	margin-left: 400px;
}

.edit_schedule_content_name {
	font-size: 30px;
	margin-top:10px;
	margin-left:400px;
}

.edit_schedule_content {
	font-size:25px;
	margin-top:10px;
	margin-left:400px;
}

.edit_schedule_date_name {
	font-size: 30px;
	margin-top:10px;
	margin-left:400px;
}

.edit_schedule_date {
	font-size: 25px;
	margin-top:10px;
	margin-left:400px;
}

.edit_schedule_calltime_name {
	font-size:30px;
	margin-top: 10px;
	margin-left:400px;
}

.edit_schedule_calltime {
	font-size: 25px;
	margin-top: 10px;
	margin-left: 400px;
}

.edit_schedule_decision {
	display:block;
	font-size: 20px;
	margin-top:10px;
	margin-left:400px;
}

.edit_schedule_delete {
	display: block;
	font-size: 20px;
	margin-top:10px;
	margin-left: 400px;
}
